### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
num_of_schools = len(school_data_complete["school_name"].unique())
total_students = len(school_data_complete["student_name"])
total_budget = (school_data_complete["budget"].unique()).sum()
avg_math_score = school_data_complete["maths_score"].mean()
avg_read_score = school_data_complete["reading_score"].mean()
pct_math_pass = (len(school_data_complete.loc[(school_data_complete["maths_score"] >= 50.0)]) / total_students) * 100
pct_read_pass = (len(school_data_complete.loc[(school_data_complete["reading_score"] >= 50.0)]) / total_students) * 100
pct_overall_pass = (len(school_data_complete.loc[(school_data_complete["maths_score"] >= 50.0) & (school_data_complete["reading_score"] >= 50.0)]) / total_students) * 100

lga_summary_df = pd.DataFrame({"Total Schools": [num_of_schools],
                                    "Total Students": total_students,
                                    "Total Budget": total_budget,
                                    "Average Maths Score": avg_math_score,
                                    "Average Reading Score": avg_read_score,
                                    "% Passing Maths": pct_math_pass,
                                    "% Passing Reading": pct_read_pass,
                                    "% Overall Passing": pct_overall_pass})
lga_summary_df["Total Students"] = lga_summary_df["Total Students"].map("{:,.0f}".format)
lga_summary_df["Total Budget"] = lga_summary_df["Total Budget"].map("${:,.2f}".format)
lga_summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [78]:
school_type = school_data.set_index(["school_name"])["type"]
total_students_per_school = school_data_complete["school_name"].value_counts()
total_school_budget = school_data.set_index(["school_name"])["budget"]
budget_per_student = total_school_budget / total_students_per_school
avg_maths_score_per_school = school_data_complete.groupby(["school_name"]).mean()["maths_score"]
avg_reading_score_per_school = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
pct_math_pass_per_school = (school_data_complete.set_index(["school_name"])["maths_score"] >= 50.0)


school_summary_df = pd.DataFrame({"School Type": school_type,
                                    "Total Students": total_students_per_school,
                                    "Total Budget":total_school_budget,
                                    "Per Student Budget": budget_per_student,
                                    "Average Maths Score": avg_maths_score_per_school,
                                    "Average Reading Score": avg_reading_score_per_school
                                })

school_summary_df
# total_school_budget_df.mean()
# pct_math_pass_per_school.head()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10268\3351852399.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_maths_score_per_school = school_data_complete.groupby(["school_name"]).mean()["maths_score"]
C:\Users\Administrator\AppData\Local\Temp\ipykernel_10268\3351852399.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_reading_score_per_school = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Score,Average Reading Score
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408
Holden High School,Independent,427,248087,581.0,72.583138,71.660422
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277
Pena High School,Independent,962,585858,609.0,72.088358,71.613306
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984
Shelton High School,Independent,1761,1056600,600.0,72.034072,70.257808
Thomas High School,Independent,1635,1043130,638.0,69.581651,69.768807
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type